li {
    padding: 3px;
}

.marmostats-overview-table {
    border-spacing: 2px;
}

.marmostats-list {
    font-size: 17px;
    margin-left: 35px;
    padding-inline-start: 0px;
}

.marmostats-inline {
    font-size: 14px;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.marmostats-score {
    margin-right: 10px;
}

.marmostats-selector {
    border-width: 1px;
    display: inline-block;
}

.marmostats-tooltip-container {
    position: relative;
}

.marmostats-tooltip {
    font-weight: normal;
    font-family: monospace;
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    text-align: center;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 25%;
    bottom: 100%;
    margin-left: -50px;
}

.marmostats-selector {
    background-color: none;
    cursor: pointer;
}

.marmostats-selector:hover {
    background-color: rgba(150, 230, 150, 0.3);
}

.marmostats-selector.selected {
    background-color: rgba(150, 230, 150, 0.5);
}

.marmostats-selector.selected:hover {
    background-color: rgba(150, 230, 150, 0.8);
}

.marmostats-neighbor-link {
    font-size: 20px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline;
}

.marmostats-right {
    float: right;
}

#marmostats-total-students {
    font-size: 18px;
    font-family: monospace;
}

#marmostats-chart {
    margin-left: 50px;
    margin-bottom: 20px;
}

#marmostats-test-summary {
    padding-left: 40px;
}

#marmostats-test-summary b {
    font-family: monospace;
}

#marmostats-progress {
    margin-left: 40px;
    width: 100%;
    height: 20px;
}

#marmostats-progress {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    height: 40px;
    visibility: collapse;
}

#marmostats-progress-bar-background {
    width: 55%;
    height: 15px;
    background-color: grey;
    display: inline-block;
}

#marmostats-progress-text {
    font-family: monospace;
    font-size: 15px;
}

#marmostats-progress-bar {
    height: 100%;
    background-color: rgba(145, 238, 145, 1.0);
    vertical-align: top;
}

#marmostats-progress-perc {
    font-family: monospace;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#marmostats-selector-table {
    border-collapse: collapse;
    border-style: none;
    margin-left: 40px;
    display: inline-block;
    visibility: collapse;
    vertical-align: top;
    font-family: monospace;
    font-size: 14px;
}

#marmostats-selector-table th {
    padding: 5px;
    margin: 0px;
    width: 100%;
    background: none;
    border: 1px solid black;
}

#marmostats-selector-table tr td {
    min-width: 40px;
    padding: 5px;
    border: 1px solid black;
}

#marmostats-selectall {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin-left: 2px;
    border-style: solid;
    border-width: 2px !important;
    border-color: rgb(175, 175, 175) !important;
}

#marmostats-setting-container {
    vertical-align: bottom;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 15px;
}

#marmostats-setting-container button {
    width: 100px;
    height: 30px;
    padding: 5px;
    margin-left: 60px;
    margin-right: 10px;
    background-color: rgba(200, 200, 200, 0.5);
}

#marmostats-setting-container button:hover {
    background-color: rgba(200, 200, 200, 0.8);
}

#marmostats-setting-container button img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

#marmostats-setting-container button span {
    font-size: 14px;
    font-family: monospace;
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#marmostats-refresh-loading {
    visibility: hidden;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

#marmostats-autorefresh-container {
    display: inline-block;
    width: auto;
    padding: 5px;
    vertical-align: middle;
}

#marmostats-autorefresh-container label {
    margin-left: 25px;
}

#marmostats-autorefresh-container p {
    font-family: monospace;
    font-size: 14px;
    margin-right: 5px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: inline-block;
    vertical-align: middle;
}

#marmostats-autorefresh-input {
    width: 40px;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 2px;
}

#marmostats-autorefresh-progress {
    background-color: rgba(95, 170, 95, 1.0);
    width: 0%;
    height: 3px;
    margin-top: 5px;
    visibility: hidden;
}

#marmostats-neighbour-link-container {
    padding-left: 40px;
    width: 50px;
    height: 30px;
    display: inline-block;
}

#marmostats-next-project {
    float: right;
    right: 0px;
}