li {
    padding: 3px;
}

table.marmostats-table {
    border-spacing: 2px;
}

ul.marmostats-list {
    font-size: 17px;
    margin-left: 35px;
    padding-inline-start: 0px;
}

p.marmostats-inline {
    font-size: 14px;
    font-weight: normal;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b.marmostats-score {
    margin-right: 10px;
}

#marmostats-chart {
    margin-left: 50px;
    margin-bottom: 20px;
}

#marmostats-test-summary {
    padding-left: 40px;
}

#marmostats-progress {
    margin-left: 40px;
    width: 100%;
    height: 20px;
}

#marmostats-progress {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    height: 40px;
    visibility: hidden;
}

#marmostats-progress-bar-background {
    width: 60%;
    height: 20px;
    background-color: grey;
    display: inline-block;
}

#marmostats-progress-text {
    font-family: monospace;
    font-size: 16px;
}

#marmostats-progress-bar {
    height: 100%;
    background-color: lightgreen;
    vertical-align: top;
}

#marmostats-progress-perc {
    font-family: monospace;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}