body {
    width: 190px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label, input {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

table {
    margin-left: 5px;
}