body {
    width: 170px;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    display: inline-block;
    margin-left: 5px;
}

h3 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin: 2px 5px;
    display: inline-block;
}

label, input {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

table {
    margin-left: 5px;
    overflow: hidden;
    display: block;
}

td {
    font-size: 14px;
}

span {
    font-size: 14px;
    font-family: "Open Sans", Arial, "Lucida Grande", sans-serif;
}

.marmostats-icon {
    margin-right: 3px;
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    position: relative;
    top: -3px;
}

.marmostats-title {
    text-align: center;
}

.marmostats-setting-title {
    margin-left: 5px;
    cursor: pointer;
}

.marmostats-icon-small {
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    overflow: hidden;
}

.marmostats-icon-toggle {
    margin: 1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    width: 12px;
    height: 12px;
    overflow: hidden;
    transition-duration: 200ms;
    transition-property: transform;
    cursor: pointer;
}

.marmostats-rotated {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}