.lbl {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 30px;
    background: #bfbfbf;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    vertical-align: middle;
}

.lbl:after {
    position: absolute;
    left: -5px;
    top: -2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #cfcfcf;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    content: '';
    transition: all 0.3s ease;
    vertical-align: middle;
}

.lbl:active:after { transform: scale(1.05, 0.95); }

.cbx:checked ~ label { background: rgba(95, 170, 95, 0.5); }

.cbx:checked ~ label:after {
    left: 16px;
    background: rgba(105, 180, 105, 1.0);
}

.cbx:disabled ~ label {
    background: rgba(235, 235, 235, 1);
    pointer-events: none;
}

.cbx:disabled ~ label:after {
    background: rgba(255, 255, 255, 1);
}

.lbl-small {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 25px;
    background: #bfbfbf;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    vertical-align: middle;
}

.lbl-small:after {
    position: absolute;
    left: -3px;
    top: -3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: #cfcfcf;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    content: '';
    transition: all 0.3s ease;
    vertical-align: middle;
}

.lbl-small:active:after { transform: scale(1.05, 0.95); }

.cbx-small:checked ~ label { background: rgba(95, 170, 95, 0.5); }

.cbx-small:checked ~ label:after {
    left: 13px;
    background: rgba(105, 180, 105, 1.0);
}

.cbx-small:disabled ~ label {
    background: rgba(235, 235, 235, 1);
    pointer-events: none;
}

.cbx-small:disabled ~ label:after {
    background: rgba(255, 255, 255, 1);
}

.hidden {
    display: none;
}